@font-face {
    font-family:Aragandir-GrandLight ;
    src: url(Agrandir/Agrandir-GrandLight.otf);

    /* font-family: Aragandir-GrandHeavy;
    src:url(Agrandir/Agrandir-GrandHeavy.otf); */

    /* font-family: Aragandir-Narrow;
    src:url(Agrandir/Agrandir-Narrow.otf); */

    /* font-family: Aragandir-Regular;
    src:url(Agrandir/Agrandir-Regular.otf); */
}

@media(max-width: 600px){
    html{
        font-size: 12px;
    }
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Aragandir-GrandLight;
    font-weight: 100;
}

body > section > div{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}

body > section{
    height: 100vh;
}

.nav-bar{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    /* border: 2px solid black; */
    display: flex;
    background-color: #2E2C2F;
    position:fixed;
    width: 80vw;
    height: 3vh;
}

.nav-bar > .nav-bar-element{
    /* border: 2px solid red; */
    flex: 1 1 auto;
    text-align: center;
    /* vertical-align: middle; */
    justify-content: center;
    font-size: 1.2rem;
}

.nav-bar > .nav-bar-element > a{
    color:#F3E8EE;
}

a:link{
    text-decoration: none;
}

.introduction-section{
    /* padding-top: 1vh; */
    background-color: #2E2C2F;
}

.introduction-area{
    border: 1px solid white;
    color:#F3E8EE;
    height: 60vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap:3vh
}

.introduction-area > .introduction-area-content{
    border: 1px solid red;
    /* flex: 1 1 auto; */
    box-sizing: border-box;
    min-width: 200px;
    width: 60%;
}

.introduction-area > .introduction-area-picture{
    box-sizing: border-box;
    border:3px solid green;
    flex-grow:0;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 200px;
    max-width: 30%;
    display: inline-block;
}

.introduction-area > .introduction-area-picture > img{
    min-width: 100%;
    max-width: 100%;
    height:auto;
    display: block;
}

.separator{
    /* border:1px solid red; */
    text-align: center;
    height: 10vh;
    line-height: 12vh;
}

.light-section{
    background-color: #F3E8EE;
}

.light-section-area{
    border: 1px solid #2E2C2F;
    color:#2E2C2F;
    height: 60vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap:3vh
}

.light-section-area > .light-section-content{
    border: 1px solid red;
    /* flex: 1 1 auto; */
    box-sizing: border-box;
    min-width: 200px;
    width: 60%;
}

.light-section-area > .light-section-img{
    box-sizing: border-box;
    border:3px solid green;
    flex-grow:0;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 200px;
    max-width: 30%;
    display: inline-block;
}

.dark-section{
    background-color: #2E2C2F;
    color: #F3E8EE;
    height:100vh;
}

.dark-section-area{
    border: 1px solid #F3E8EE;
    /* color: #F3E8EE; */
    height: 60vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top:5vh;
    padding-bottom: 5vh;
    gap:3vh
}

.dark-section-area > .dark-section-content{
    border: 1px solid red;
    /* flex: 1 1 auto; */
    box-sizing: border-box;
    min-width: 200px;
    width: 60%;
}

.dark-section-area > .dark-section-img{
    box-sizing: border-box;
    border:3px solid green;
    flex-grow:0;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 200px;
    max-width: 30%;
    display: inline-block;
}

.projects-area{
    border:1px solid white;
    height:80vh;
}